<% page.posts.each(function(post, i){ %>
  <% var year = post.date.year(); %>
		<% var month = post.date.month()+1; %>
    <% var date = post.date.date(); %>
    <div class="brief-post">
      <div class="brief-post-title"><%= post.title %></div>
      <div class="brief-post-brief"><%- post.brief %></div>
      <div class="brief-post-more">阅读全文</div>
  </div>
<% }) %>