<article>
    <div class="article-meta">
        <%- post.date %>
        <header>
            <h1><%- post.title %></h1>
        </header>
    </div>
    <div class="article-content">
        <%- post.content %>
    </div>
</article>