<header id="header">	
	<div class="header-content">
			<div class="header-content-title"><%- theme.blog_title %></div>
			<div class="header-content-nav">
				<nav>
					<ul>
						<li>首页</li>
						<li>归档</li>
						<li>标签</li>
						<li>怪味豆指南</li>
					</ol>
				</nav>
			</div>
	</div>
</header>
