<header id="header">
	<div class="header-content">
			<div class="header-title"><%- theme.blog_title %></div>
			<div class="header-nav">
				<nav>
					<ol>
						<li>首页</li>
						<li>归档</li>
						<li>怪味豆</li>
					</ol>
				</nav>
			</div>
	</div>
</header>
