<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"></meta>
  <link rel="icon" type="image/png" sizes="16x16" href="/grassflavorbean.github.io/images/emoji/herb.png">
  <title>青草怪味豆</title>
  <%- css('css/style') %>
</head>