.brief-post
  margin: 0 100px;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  &-title
    font-size: 23px;

    a
      color: #000;
      text-decoration: none;
  
  &-brief
    padding: 5px 0;
    color:#aaa;
    font-size: 14px;

  &-more
    font-size: 14px;

    a
      color: #000;
      text-decoration: none;

    &:hover
      text-decoration: underline;
    