.brief-post
  margin: 0 100px;
  padding: 20px 0;
  border-bottom: 1px solid color-light-grey;

  &-title
    font-size: 23px;
    border-bottom: none;
    display: inline-block;
    position: relative;
    vertical-align: top;

    &::before
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: color-default;
      content: '';
      height: 1px;
      width: 100%;
      transform: scaleX(0);
      transition-duration: .2s;

    &:hover::before
      transform: scaleX(1);

    a
      color: color-default;
      text-decoration: none;
  
  &-brief
    padding: 5px 0;
    color: color-grey;
    font-size: 14px;

  &-more
    font-size: 14px;

    a
      color: color-default;
      text-decoration: none;

    &:hover
      text-decoration: underline;
    