@import "../_variables"

@keyframes myrotate {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

.header-content
  display: flex;

  &-title
    flex: 3;
    margin: 10px 20px;
    border-right: 1px solid #000;
    display: flex;
    align-items: center;

    .header-avatar

      img
        max-width: 50px;
        max-height: 50px;
        border-radius: 50%;
        animation: myrotate 10s linear 3;

    .header-title
      margin-left: 20px;
      
  &-nav
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 7;

    div
      font-size: 18px;
      margin: 10px 20px;
      text-align: center;
      flex: 1;
      padding-bottom: 5px;
      border-bottom: 1px solid #fff;
      cursor: pointer;

      &:hover
        border-bottom: 1px solid #304911;
      
      a
        color: #000;
        text-decoration: none;        