@import "../_variables"

.header-content
  display: flex;

  &-title
    flex: 3;
    margin: 10px 20px;
    border-right: 1px solid #000;

  &-nav
    display: flex;
    flex-direction: row;
    flex: 7;

    div
      margin: 10px 20px;
      text-align: center;
      flex: 1;
      padding-bottom: 5px;

      &:hover
        color: #304911;
        border-bottom: 1px solid #304911;
      
      &:active
        color: #304911;
        border-bottom: 1px solid #304911;
      
    a
      text-decoration-style: none;