@import "_variables"
@import "_partial/header"
@import "_partial/archive-post"
@import "_partial/archive"
@import "_partial/article"
@import "_partial/back-to-top"
@import "_widget/end-line"

html, body
  height: 100%;
  background-color: color-grey;

#container
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  background-color: #fff;
  font-size: 16px;

.footer
  width: 60%;
  font-size: 55px;
  margin: 0 auto;
  text-align: center;
  font-family: Sweet Getaway;

@font-face 
  font-family: Pacifico
  src: url('fonts/Pacifico.ttf')

@font-face
  font-family: Sweet Getaway
  src: url('fonts/Sweet Getaway.ttf')
