@import "_variables"

html, body, #container
  height: 100%

html, body
  background-color: color-grey;

#container
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    
.outer
    border: 1px solid black;