@import "_variables"

html, body
  height: 100%
  background-color: color-grey;

#container
  width: 60%;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  background-color: #fff;

.footer
  width: 60%;
  margin: 0 auto;
  text-align: center;

.outer
    border: 1px solid black;