<%- partial('_partial/head') %>
<body>
  <div id="particles-js"></div>
  <div id="container">
    <div id="wrap">
      <div class="outer">
        <%- partial('_partial/header') %>
        <section id="main"><%- body %></section>            
      </div>
    </div>
  </div>
  <%- partial('_partial/footer') %>    
</body>
</html>