@keyframes shake
  from
    transform: rotate(-60deg)
  to
    transform: rotate(-30deg)

.back-to-top
  position: fixed;
  bottom: 10px;
  right: 100px;
  width: 25px;
  height: 25px;
  border-top: 3px solid color-light-green;
  border-right: 3px solid color-light-green;
  transform: rotate(-45deg);
  cursor: pointer;

  &:hover
    animation: shake .5s;



  