.end-line
  display: flex;
  margin: 40px 0;
  align-items: center;

  &-left, &-right
    flex: 4; 
    border-bottom: 1px solid color-border-grey;

  &-middle
    flex: 2;
    font-family: Pacifico;
    color: color-green;
    text-align: center;